 .btn-disable
        {
        cursor: not-allowed;
        pointer-events: none;
        /*Button disabled - CSS color class*/
        color: #c0c0c0;
		background-color: #ff000000; 
        border: 2px solid #8e5b5b61;
  		color: white;
        width: 150px;
  		height: 55px;
  		color: white;
        padding: 10px 32px;
  		text-align: center;
 		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
  		transition-duration: 0.4s;


        }
        
/* button change language */

.button {
  border: none;
  color: #3F3F3F;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
  
  
  
.button1 {
  background-color: #ff000000; 
  border: 2px solid #4c41f2;
  width: 200px;
  height: 55px;
  color: white;
  
}


.button1:hover {
	background-color: #8541f2;
	color: white;
	border: 2px solid #8541f2;
	}

/* button Download */

.btngreen {
  border: none;
  color: #3F3F3F;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btngreen1 {
background-color: #ff000000;
    border: 2px solid #41f274;
    width: 131px;
    height: 25px;
	color: black;
  
}


.btngreen1:hover {
	background-color: #41f274;
	color: white;
	border: 2px solid #41f274;
	}
    
.btnorange {
  border: none;
  color: #3F3F3F;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btnorange1 {
  background-color: #ff000000; 
  border: 2px solid #f2b041;
  width: 150px;
  height: 55px;
  color: white;
  
}


.btnorange1:hover {
	background-color: #f2b041;
	color: white;
	border: 2px solid #f2b041;
    
	}

.dropbtn {
  background-color: #f2b0412b;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: &#39;Cairo&#39;, sans-serif;
  
}

.dropbtn:hover, .dropbtn:focus {
  	background-color: #f2b041;
	color: white;
    
	
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


