@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
.main-chat {
    display: flex;
    justify-content: center;
    color: var(--BgBrownSm);
}
.chatbox {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
}
#msg { 
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

}
#m-msg { 
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    

}
#usr {
    display: flex;
    font-size: 10px;
    color: var(--BgBrownSm);
    align-items: center;
}

p {
    background: var(--ColorBrown);
    border-radius: 10px;
    color: var(--BgBrownSm);
    font-size: 15px;
    padding: 6px;
    margin: 10px;
}
#time {
    color: var(--ColorBrown);
    background: var(--BgBrownSm);
    font-size: 14px;
    padding: 0px 6px;
    border-radius: 10px;
}
#img-us {
    width: 32px;
    height: 32px;
}
#msgs {
    width: 500px;
}
#sn-msg {
    margin: 10px;
    text-align: center;
}
#sn-txt {
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    border: solid;
    
}
#sn-btn {
    width: 15%;
    color: var(--BgBrownSm);
    border: var(--BorderBtnTr);
    border-radius: 10px;
    padding: 8px 10px;
    background-color: var(--ColorBrown);
}
