@media only screen and (max-width: 600px) {
    .brand {
        left: -9rem ;
    }
    .lang {
        left: 9rem ;
    }  
    }  
  

  
  @media only screen and (max-width: 768px) {
        .brand {
            left: -13.5rem;
        }
        .lang {
            left: 13.5rem ;
           
        }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
        .brand {
            right: 19.4rem;
 
        }
        .lang {
            left: 16.7rem;
        }  
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (max-width: 1200px) {
      .brand {
          right: 22.7rem;
         
      }
      .lang {
          left: 16.7rem;
      }  
  }